body {
    /*background-color: white;*/
    background-image: url("../img/grandteton2.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
}

#avatar {
    border-radius: 6px;
    overflow: hidden;
    border: 0;
}