html {
    /*background: url(../img/grandteton2.jpg) no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background-color: transparent; /* override bootstrap */
}

#avatar {
    border-radius: 6px;
    overflow: hidden;
    border: 0;
}


/*------------------------------
            sidebar
------------------------------ */
#wrapper #sidebar-wrapper {
  width: 250px;
}

#wrapper.toggled #sidebar-wrapper {
    width: 50px;
}

#wrapper {
  padding-left: 250px;
}

#wrapper.toggled {
    padding-left: 50px;
}


@media(min-width:768px) {

    #wrapper {
      padding-left: 50px;
    }

    #wrapper.toggled {
      padding-left: 250px;
    }

    #wrapper {
      padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 50px;
    }
}

/*------------------------------
            nav icons
------------------------------ */

/* positioning and remove def. border, make bg match */
.btn-nav {
  border: 0;
  margin-left: -15px;
  background-color: transparent;
}

/* avatar positioning */
.sidebar-brand img {
    margin-left: -11px;
}

/* clicked icons bg, no change; outline white */
.btn-nav:focus {
  background-color: transparent;
  outline-color: white;
}

/* make icon bg match */
.btn-nav:hover {
  background: transparent;
}
/* make icons vis. on hover */
.sidebar-nav li:hover {
    background: rgba(255,255,255,0.2);
}
