html { 
    background: url(../img/grandteton2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background-color: transparent; /* override bootstrap */
}

#avatar {
    border-radius: 6px;
    overflow: hidden;
    border: 0;
}