/* 
* Customizations to theme.
* Author: Jose H.
* Github: http://josevh.com
*/

body {
    background-color: #000;
	background-image: url("../img/gc1-min2.jpg");
}

a h6{
	color: #0480D3;
}

a {
    color: #0480D3;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	border-left: 5px solid #0480D3;
}

#credit {
    font-size: 10px;
    padding: 0;
    margin: 0;
}

#credit > i {
    cursor: pointer;
    color: #0480D3;
}

#credit > i:hover {
    color: #555555;
}

#interests {
    padding-left: 25px;
}

#interests > div:nth-child(n+2) {
    margin-top:5px;
}

#interests li i {
    width:20px;
}

p {
  margin-bottom: 20px;
}

/*content area*/
.tab-content {
    padding: 20px 15px;
}

/*fix placement of name*/
#about > h3 {
    margin-top: 10px;
}

/* style portfolio carousel captions */
.carousel-caption {
    background-color: #BCBCBC;
    background-color: rgba(114, 114, 114, 0.65);
    padding: 10px 20px;
    margin-bottom: 15px;
    border-radius: 3px;
}

 /*make modal footer shorter */
.modal-footer {
    padding: 5px 15px;
}


.col-sm-4 {
    padding-left: 0;
    padding-right: 0;
}

i.fa {
    vertical-align: inherit;
}