/* set font */
html, body {
    font-family: 'Open Sans', sans-serif;
}

/* set background color */
body {
    background-color: #E0E0E0;
    margin-top: 125px; /* prevent nav obstructing body view */
}

/* custom navbar */
    /* center navbar when not collapsed */
    @media (min-width: 768px) {
        .navbar .navbar-nav {
            display: inline-block;
            float: none;
            vertical-align: top;
        }

        .navbar .navbar-collapse {
            text-align: center;
        }
    }
    /* custom color bg and text */
    .navbar-custom {
        background-color: #2196F3;
    }
    /* navbar collapsed expand button bars color */
    .navbar-custom .navbar-toggle .icon-bar {
        background-color: #ffffff;
    }
    /* navbar collapsed expand button background color */
    .navbar-custom .navbar-toggle:focus,
    .navbar-custom .navbar-toggle:hover {
        background-color: #2196F3;
    }
    /* custom default opacity for nav link text */
    .navbar-custom .navbar-nav > li > a { /* nav links default */
        color:#ffffff;
        opacity: 0.75;
    }
    /* override bootstrap active nav link style */
    .navbar-custom .navbar-nav > .active > a,
    .navbar-nav > .active > a:hover,
    .navbar-nav > .active > a:focus {
        color: #ffffff !important;
        background-color: transparent !important;
    }
    .navbar-custom .navbar-nav > li > a:focus,
    .navbar-custom .navbar-nav > li > a:hover {
    }
    /* set colors for active and hover/focus nav links */
    .navbar-custom .navbar-nav > li > a:focus,
    .navbar-custom .navbar-nav > li > a:hover,
    .navbar-custom .navbar-nav > .active > a,
    .navbar-nav > .active > a:hover,
    .navbar-nav > .active > a:focus {
        color: #ffffff;
        opacity: 1.0;
    }
    /* set bottom border for active and hover/focus nav links
     * constrains border to link text width */
    .navbar-custom .navbar-nav > li > a > span:focus,
    .navbar-custom .navbar-nav > li > a > span:hover,
    .navbar-custom .navbar-nav > .active > a > span,
    .navbar-nav > .active > a > span:hover,
    .navbar-nav > .active > a > span:focus {
        border-bottom: 2px solid #ffffff;
        padding-bottom: 13px; /* match bootstrap anchor padding */
    }

/* panels */
    .panel-content {
        padding-top: 35px;
        padding-bottom: 70px;
    }
    /* panel: home */
        /* position image vertically */
        div.avatar{
            padding-top: 50px;
        }
        /* round image */
        div.avatar > img.avatar {
            max-width: 16%;
        }
        /* position text vertically */
        #home-content {
            padding-bottom: 100px;
        }
    /* panel: skills */
        /* position content vertically */
        #skills-content {
            /*padding-top: 35px;
            padding-bottom: 70px;*/
        }

/* Timeline */
    /* .timeline points cd-timeline-img color */
    .cd-timeline-img-work {
        background: #64B5F6;
    }
    /* timeline points size and positioning */
    @media only screen and (min-width: 1170px) {
        .cd-timeline-img {
            width: 40px;
            height: 40px;
            margin-left: -20px;
            margin-top: 10px;
        }
    }
    /* timeline content color  */
    .cd-timeline-content {
        background-color: #FFF176;
    }
    /* timeline content arrows, custom color */
    .cd-timeline-content::before {
        border-right-color: #FFF176;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
        border-right-color: #FFF176;
    }
    /* timeline content arrows, custom color */
    @media only screen and (min-width: 1170px) {
        .cd-timeline-content::before {
            border-left-color: #FFF176;
            border-right-color: transparent;
        }
        /*.cd-timeline-block:nth-child(even) .cd-timeline-content::before {
            border-right-color: #FFF176;
        }*/
    }

    /* center content vertically, override bootstrap */
    .cd-timeline-content > h2 {
        margin-top: 10px;
    }
    .cd-timeline-content > h2 > small {
        font-size: 75%;
    }
    /* timeline vertical bar color */
    #cd-timeline::before {
        background-color: #E0E0E0;
    }
    /* timeline points hide border */
    .cd-timeline-img {
            box-shadow: none;
    }
    /*position timeline dates and set font-size */
    @media only screen and (min-width: 1170px) {
        .cd-timeline-content .cd-date {
            font-size: 1.05rem;
            top: 15px;
        }
    }

/* Project panel */
    /* remove extra borders on project panels */
    div.thumbnail {
        border: none;
    }
    /* style :hover and :focus for project link */
    a.thumbnail:hover,
    a.thumbnail:focus  {
        text-decoration: none;
        border-color: rgba(42, 117, 231, 0.5);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(104, 186, 238, 0.6);
    }

/* Contact panel */
    /* Google Maps div */
    div#map-container {
        height: 400px;
    }
    /* link icon positioning */
    ul#contact-list {
        margin-bottom: 30px;
    }
    ul#contact-list > li {
        margin-left: 15px;
        margin-right: 15px;
    }
    /* remove bottom padding, maps end at panel edges */
    #contact .panel-body {
        padding-bottom: 0;
    }

/* all panels: header icon */
    /* space between icon and header text */
    h2.has-icon > i.fa {
        padding-right: 15px;
    }
    /* offset icon spacing to center text */
    h2.has-icon {
        padding-right: 45px;
    }
